/** Imports **/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

html, body {
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.1);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

header {
    position: relative;
    min-height: 85vh;
    background: rgb(64,50,142);
    background: linear-gradient(39deg, rgba(64,50,142,1) 20%, rgba(108,93,194,1) 69%);
    background-size: 100%;
    overflow: auto;
}

.header-content {
    position: relative;
    height: 70%;
    margin-top: 210px;
}

#header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(68,165,242);
    background: linear-gradient(90deg, rgba(68,165,242,0.98) 0%, rgba(116,104,231,0.98) 86%);
}

#header-figure {
    position: absolute;
    right: 0;
    top: 0;
    width: 360px;
    height: 390px;
    background-image: url('../images/header-server.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

nav {
    position: absolute;
    top: 11px;
    width: 100%;
    z-index: 5;
    margin-top: 20px;
}

#site-logo {
    position: relative;
    width: 170px;
    z-index: 5;
}


#desktop-nav-menu {
    float: right;
}

#desktop-nav-menu > li {
    display: inline-block;
}

#desktop-nav-menu > li > a {
    color: rgba(255,255,255,1);
    font-family: 'Open Sans', sans-serif;
    font-size: 0.925rem;
    text-decoration: none;
    font-weight: 400;
    padding: 9px 20px;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    transition: all 0.2s;
}

#desktop-nav-menu > li > a:last-child{
    padding-right: 0;
}

#desktop-nav-menu > li > a:hover {
    color: rgba(255,255,255,0.8);
}


.header-intro {
    position: relative;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
    padding: 20px 0px;
    line-height: 1.2;
    width: 50%;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.1);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

.header-sub-intro {
    position: relative;
    color: #fff;
    font-size: 1.2rem;
    width: 50%;
}

.clear {
    clear: both;
}

#cta-wrapper {
    margin-top: 30px;
}

.btn-custom-azure {
    background-color: #18c0e4 !important;
    color: #ffffff !important;
    transition: all 0.2s !important;
}

.btn-custom-azure:hover {
    background-color: #26caed !important;
}

.btn-custom-outline-white {
    background-color: none !important;
    border: 1px solid #e3e3e3 !important;
    color: #e3e3e3 !important;
    transition: all 0.2s !important;
}

.btn-custom-outline-white:hover {
    color: #ffffff !important;
    border-color: #ffffff;
}

.btn-custom-purple {
    background-color: #6656c0 !important;
    color: #ffffff !important;
    transition: all 0.2s !important;
}

.btn-custom-purple:hover {
    background-color: #7d6dd6 !important;
}

#home-packages {
    margin-top: -80px;
}

.single-package {
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
}

.single-package:first-child {
    border-top-left-radius: 5px;
}

.single-package:last-child {
    border-top-right-radius: 5px;
}

.single-package > img {
    margin-bottom: 20px;
}

.single-package > h3 {
    color: #403681;
    font-size: 24px;
}

.single-package:nth-child(3) {
    margin-top: -15px;
    border-radius: 5px;
    border-top: 15px #ffffff solid;
}

.single-package > p {
    font-weight: 500;
    color: #666D7C;
}

.price-tag {
    color: #403681;
}

.price-tag > .currency {
    font-size: 1.6rem;
    vertical-align: text-bottom;
    margin-right: -5px;
}

.price-tag > .price {
    font-size: 40px;
}

.price-tag > .duration {
    font-size: 1.3rem;
    vertical-align: text-bottom;
}


#domain-purchase-wrapper {
    margin: 90px 0px;
    text-align: center;
    color: #403681;
}

.header-text {
    color: #666D7C;
    font-weight: 500;
}

#domains-display {
    margin: 40px auto;
    max-width: 70%;
}

.domain-example {
    text-align: center;
}

.domain-example > span {
    color: #5a4eaa;
    font-weight: 700;
    font-size: 2rem;
}

.domain-example > div {
    font-weight: 500;
    color: #666D7C;
}

#contact-wrapper {
    background-image: url('../images/world-map.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #4b3e9b;
    width: 100%;
    min-height: 55vh;
    box-sizing: border-box;
    padding: 100px 0px;
    color: #fff;
}

#contact-wrapper ul > li {
    list-style: none;
}

.utility-logos {
    padding: 40px 0px;
}

h1.default {
    color: #403681;
    text-align: center;
}

h3.default {
    color: #403681;
    font-size: 24px;
    margin: 10px 0px;
}

#qualities-wrapper {
    text-align: center;
}

.service-spec {
    margin-bottom: 60px;
}

.service-spec > img {
    width: 100px;
}

footer {
    background-color: #423594;
    box-sizing: border-box;
    padding: 0px 0px 50px 0px;
    margin-top: 100px;
}

footer p {
    color: rgba(255,255,255,0.6);
    font-weight: 500;
}

#business-stats {
    padding: 40px 0px;
    background-color: #392d7e;
}

.stat-box > .value {
    letter-spacing: 3px;
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
    text-align: center;
}

.stat-box > .text {
    color: #fff;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: -10px;
}

#footer-content-wrapper {
    padding: 60px 0px;
    color: #fff;
}

.logo-extension-text {
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    text-transform: capitalize;
}


.copyright {
    font-size: 0.8rem;
}

a.sm-tab {
    margin-right: 10px;
    line-height: 2.5;
    text-align: center;
    background-color: #392d7e;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-block;
    color: #fff;
    transition: all 0.2s;
}
a.sm-tab:hover {
    color: #fff;
    opacity: 0.8;;
}

h4.footer-default {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-list {
    padding: 0;
}

.footer-list > li {
    list-style: none;
    margin-bottom: 8px;
}

.footer-list > li > a {
    color: rgba(255,255,255,0.6);
}

#menu-hamburger {
    display: none;
    position: relative;
    float: right;
    font-size: 29px;
    color: #ffffff;
    margin-top: -5px;
    z-index: 5;
}

#mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s;
    background-color: rgba(108,93,194,0.95);
    box-sizing: border-box;
    padding-top: 30%;
    overflow: hidden;
}

#mobile-nav-menu {
    display: block;
    padding: 0;
    margin: auto;
}

#mobile-nav-menu > li {
    list-style: none;
    text-align: center;
}

#mobile-nav-menu > li > a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.collapsed {
    padding: 0 !important;
    height: 0px !important;
}

.package-details {
    list-style: none;
    padding: 0;
    text-align: center;
}

.package-details > li {
    margin-bottom: 8px;
    font-weight: 400;
    color: #434f76;
    font-size: 15px;
}

@media only screen and (max-width: 991px) {
    #desktop-nav-menu {
        display: none;
    }
    #menu-hamburger {
        display: block;
    }
  }

@media only screen and (max-width: 767px) {
    .header-content {
        margin-top: 100px;
    }
    #header-figure {
        position: relative;
        display: block;
        margin: auto;
        width: 70%;
        height: 0;
        padding-bottom: 67%;
        background-image: url('https://www.yourlasthost.com/images/homeservers.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    .header-intro {
        text-align: center;
        width: 100%;
    }
    .header-sub-intro {
        width: 100%;
        text-align: center;
    }
    #cta-wrapper {
        text-align: center;
        margin-bottom: 150px;
    }
    .domain-example {
        max-width: 50%;
    }
    #domain-search-form {
        display: block !important;
        
    }
    #domain-search-btn {
        display: block !important;
        width: 50%;
        margin: 20px auto 0px auto !important;
    }
    #domain-search-input {
        width: 70% !important;
        margin: auto !important;
    }
    #contact-wrapper {
        padding: 100px 0px 0px 0px !important;
    }
}

